/* .catagories-container {
    display: grid;
    grid-template-columns: 500px 500px;
    margin: 2rem auto;
    width: 1000px;

} */
.container{
    display: flex;
    flex-wrap: wrap;
}

.hashtags-container {
    display: flex;
    flex-wrap: wrap;
}
.item{
    width: 100%;
}

.hashitem {
    width: 100%;
}

@media screen and (min-width: 600px) {
    .item{
        width: 48%;
    }
}

.reviewBody{
    background-color: rgb(60, 134, 60);
    margin: 20px;
    color: azure;
}

.review-container{
    display: flex;
}

.reviewImage{
    width: 44vw;
}

.game-info{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.categories-body{
    background-color: rgb(60, 134, 60);
    margin: 20px;
    color: azure;
}

.blurb-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-image{
    width: 25vw;
}

.blurb-text-container{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.category-game-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.game-image{
    height: 55vh;
}

.category-container{
    display: flex;
}

.category-list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.game-brief{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   min width: 400px;
}

.home-games {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}



