.container{
    display: flex;
    flex-wrap: wrap;
}

.item{
    width: 100%;
}

.hashitem {
    width: 100%;
}

.reviewBody{
    background-color: #C8A2C8;
    margin: 20px;
    color: azure;
}

.review-container{
    display: flex;
    flex-direction: row;
}

.reviewImage{
    width: 44vw;
}

.game-info{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.categories-body{
    background-color: #C8A2C8;
    margin: 20px;
    color: azure;
}

.blurb-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-image{
    width: 25vw;
}

.blurb-text-container{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.category-game-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.category-container{
    display: flex;
}

.category-list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.game-brief{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
}

.home-games {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.hashtag-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.hashtag-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 500px;
}

.hashtag-image{
    width: 40vw;
}

.forms{
    display: flex;
    flex-direction: row;
}

.submission-form{
    display: flex;
    flex-direction: column;
    align: left;
    justify-content: flex-start;
}

.game-review{
    display: flex;
    flex-direction: column;
}

.add-game{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form1{
    display: flex;
    max-width:25%;
    flex-direction: column;
    background-color: #4E5180;
}
.form2{
    display: flex;
    max-width:25%;
    flex-direction: column;
    background-color: #4E5180;
}

 @media only screen and (max-width: 770px){
    .nav-items{
        flex-direction: column;
    }

  }
