@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

*{
    margin: 5px;
    padding: 0;
    font: 700 20px 'Source Code Pro';
}
@keyframes body{
    from {background-color: rgb(60, 134, 60);}
    to {background-color: rgb(109, 218, 109);}
  }



.body{
    background-color: rgb(60, 134, 60);
    margin: 20px;
    color: azure;
    animation-name: body;
    animation-duration: 4s;
    animation-direction: alternate;
}
h1{
    display: flex;
    background-color: black;
    text-align: center;
    justify-content: center;
    font-size: xx-large;
    color: azure;
    border-radius: 15px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(75, 75, 75) 90%);
}
h2{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: xx-large;
    border-radius: 15px;
    background-image: linear-gradient(to bottom, rgb(44, 44, 44), rgb(75, 75, 75) 90%);
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.categories-container {
    display: grid;
}

.categories categories-item-1 {
    border-radius: 7px;
    background-color: black;
    height: 1000px;
    width: 1000px;
    
}

li {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: large;
}

.catagories-item-2 {
    border-radius: 7px;
    background-color: black;
    height: auto;
    width: auto;
}

.squad-leader {
    background-color: black;
    border-radius: 15px;
}

.new-world {
    background-color: black;
    height: auto;
    border-radius: 15px;
}

a:link {
    color: white;
}

a:visited {
    color: gray;
}

a:hover {
    color: rgb(63, 61, 61);
}

.image50 {
    width: 75%;
    align-items: center;
    border-radius-50;
}

.game-brief {
    background-color: black;
    border-radius: 15px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(75, 75, 75) 90%);

    
}

.item {
    animation: moveitem 5s infinite;
    animation-timing-function: ease;
}

@keyframes moveitem {
    from {left: 0px}
    to{left: 300px}
}
  

.blurb-container {
    background-color: black;
    border-radius: 15px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(75, 75, 75) 90%);
}

.category-list {
    background-color: black;
    border-radius: 15px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(75, 75, 75) 90%);
}

.category-list {
  position: relative;
}


