@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

*{
    margin: 5px;
    padding: 0;
    font: 700 20px 'Source Code Pro';
}

/* @keyframes body{
    from {background-color: rgb(60, 134, 60);}
    to {background-color: rgb(109, 218, 109);}
} */

article{
    background-color: #7748b6;

}

.body{
    background-color: #C8A2C8;
    margin: 20px;
    color: #AAF0D1;
    animation-name: body;
    animation-duration: 4s;
    animation-direction: alternate;
}
h1{
    display: flex;
    background-color: #4E5180;
    text-align: center;
    justify-content: center;
    font-size: xx-large;
    color: #AAF0D1;
    border-radius: 15px;
    /* background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(75, 75, 75) 90%); */
}
h2{
    display: flex;
    text-align: center;
    background-color: #4E5180;
    justify-content: center;
    font-size: xx-large;
    border-radius: 15px;
    /* background-image: linear-gradient(to bottom, rgb(44, 44, 44), rgb(75, 75, 75) 90%); */
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.categories-container {
    display: grid;
}

.categories categories-item-1 {
    border-radius: 7px;
    background-color: #4E5180;
    height: 1000px;
    width: 1000px;
    
}

li {
    display: flex;
    text-align: center;
    justify-content: center;
}

.squad-leader {
    background-color: #4E5180;
    border-radius: 15px;
}

.new-world {
    background-color: #C8A2C8;
    height: auto;
    border-radius: 15px;
}

a:link {
    color: #AAF0D1;
}

a:visited {
    color: #AAF0D1;
}

a:hover {
    color: #AAF0D1;
}

.image50 {
    width: 98%;
    align-items: center;
    max-width: 700px;
}

.game-brief {
    background-color: #4E5180;
    border-radius: 15px;
    background-image: linear-gradient(to bottom, #4E5180, rgb(73, 52, 109) 90%);
    max-width: 742px;
    
}

.item {
    animation: moveitem 5s infinite;
    animation-timing-function: ease;
}

@keyframes moveitem {
    from {left: 0px}
    to{left: 300px}
}
  

.blurb-container {
    background-color: #4E5180;
    border-radius: 15px;
    background-image: linear-gradient(to bottom, #4E5180, rgb(73, 52, 109) 90%);
}

.category-list {
    background-color: #4E5180;
    border-radius: 15px;
    background-image: linear-gradient(to bottom, #4E5180, rgb(73, 52, 109) 90%);
}

.category-list {
  position: relative;
}

p {
    text-align: center;
    justify-content: center;
}

nav{
    display: flex;
    background-color: #4E5180;
    justify-content: center;
    font-size: xx-large;
    color: #AAF0D1;
    border-radius: 15px;
    flex-direction: column;
}

.nav-items{
    display: flex;
    justify-content: space-evenly;
}

.categories-ul{
    display: flex;
    flex-wrap: wrap;
}
