@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

*{
    margin: 5px;
    padding: 0;
    font: 700 20px 'Source Code Pro';
}
.body{
    background-color: rgb(60, 134, 60);
    margin: 20px;
    color: azure;
}
h1{
    display: flex;
    background-color: black;
    text-align: center;
    justify-content: center;
    font-size: xx-large;
}
h2{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: xx-large;
    background-color: rgb(155, 153, 153);
    border-radius: 15px;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.categories-container {
    display: grid;
}

.categories categories-item-1 {
    border-radius: 7px;
    background-color: black;
    height: 1000px;
    width: 1000px;
    
}

li {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: large;
}

.catagories-item-2 {
    border-radius: 7px;
    background-color: black;
    height: auto;
    width: auto;
}

.squad-leader {
    background-color: black;
    border-radius: 15px;
}

.new-world {
    background-color: black;
    height: auto;
    border-radius: 15px;
}

.squad-leader-image {
    display: flex;
    justify-content: center;
    border-radius: 15px;
    margin-left: auto;
    width: 50%;
}

.new-world-image {
    display: flex;
    justify-content: center;
    border-radius: 25x;
    height: fit-content;
    width: fit-content;
}

a:link {
    color: white;
}

a:visited {
    color: gray;
}

a:hover {
    color: rgb(63, 61, 61);
}