<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Game Reviews Done Quick</title>
    <link rel="stylesheet" href="/CSS/Style.css">
    <link rel="stylesheet" href="/CSS/layout.css">
</head>
<body class="categories-body">
    <h1>Game Reviews Done Quick</h1>
    <div class="blurb-container">
        <h2 th:text="'Category: ' + ${category.name}"></h2>
        <div>
            <hr>
            <section th:each="game:${category.games}">
                <div class="category-game-container">
                    <img class="game-image" th:src="${game.imageUrl}">
                    <ul class="blurb-text-container">
                        <li th:text="'Title: ' + ${game.name}"></li>
                        <li th:text="'Description: ' + ${game.description}"></li>
                        <li th:text="'Similar Games: ' + ${game.similarGames}"></li>
                        <a href="/static/SquadLeader.html">Read the Review Here!</a>
                    </ul>
                </div>
                <hr>
            </section>
        </div>
    </div>
</body>
</html>