<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Game Reviews Done Quick</title>
    <link rel="stylesheet" href="/CSS/Style.css">
    <link rel="stylesheet" href="/CSS/layout.css">
</head>
<body class="categories-body">
    <div th:replace="fragments.html :: nav"></div>
    <div class="category-container">
        <ul>
            <li class="category-list" th:each="category:${categories}">
                <h2 th:text="'Category: ' + ${category.name}"></h2>
                <article th:text="'Description: ' + ${category.description}"></article>
                <a th:href="'/categories/'+${category.name}"><img class="image50" lt="${category.name}" th:src="${category.imageUrl}"></a>
            </li>
        </ul>
    </div>
</body>
</html>