<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<nav th:fragment="nav">
    <ul class="nav-items">
        <li>
            <a href="/categories/video games">Video Games</a>
        </li>
        <li>
            <a href="/games">Game Reviews Done Quick</a>
        </li>
        <li>
            <a href="/categories/board games">Board Games</a>
        </li>
    </ul>
    <hr>
    <ul class="nav-items">
        <li>
            <a href="/hashtags/Dice Rolling">Dice Rolling</a>
        </li>
        <li>
            <a href="/hashtags/MMO">MMO</a>
        </li>
        <hr>
        <li>
            <a href="/hashtags">See All Hashtags</a>
        </li>
        <hr>
        <li>
            <a href="/hashtags/Action">Action</a>
        </li>
        <li>
            <a href="/hashtags/Adventure">Adventure</a>
        </li>
    </ul>
</nav>