<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Game Reviews Done Quick</title>
    <link rel="stylesheet" href="/CSS/Style.css">
    <link rel="stylesheet" href="/CSS/layout.css">
</head>

<body class= "body">
    <div th:replace="fragments.html :: nav"></div>
    <div class="container">
        <section class="item" th:each="category:${categories}">
            <h2 th:text="${category.name}"></h2>
            <ul class="home-games">
                <li class="game-brief" th:each="game:${category.games}">
                    <h4  th:text="${game.name}"></h4>
                    <a th:href="'/games/'+${game.name}"><img class="image50" lt="${game.name}" th:src="${game.imageUrl}"></a>
                    <p th:text="${game.description}">
                    </p>

                </li>
            </ul>
        </section>
    </div>

    <div class="hastags-container">
        <section class="hashitem">
            <h2>Enter your own game review below!</h2>
        </section>
    </div>
    <div>
        <form action="/games/add" method="POST" class="add-game">
            <div class="form1">
                <label for="name">Game Name: </label>
                <input type="text" id="name" name="name">

                <label for="origin">Publisher: </label>
                <input type="text" id="origin" name="origin">

                <label for="releaseYear">Release Year: </label>
                <input type="text" id="releaseYear" name="releaseYear">

                <label for="description">Description: </label>
                <input type="text" id="description" name="description">

                <label for="reviewerRating">Rating (Out of 10): </label>
                <input type="text" id="reviewerRating" name="reviewerRating">
            </div>
            <div class="form2">
                <label for="categoryName">Choose a category:</label>
                <select name="categoryName" id="categoryName">
                    <option value="Video Games">Video Game</option>
                    <option value="Board Games">Board Game</option>
                </select>
                <label for="similarGames">Similar Games: </label>
                <input type="text" id="similarGames" name="similarGames">

                <label for="imageUrl">Image URL: </label>
                <input type="text" id="imageUrl" name="imageUrl">

                <label for="reviewBy">Review By: </label>
                <input type="text" id="reviewBy" name="reviewBy">

                <label for="review">Review: </label>
                <input type="text" id="review" name="review">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>

</body>
</html>