<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Game Reviews Done Quick</title>
    <link rel="stylesheet" href="/CSS/Style.css">
    <link rel="stylesheet" href="/CSS/layout.css">
</head>

<body class= "body">
<h1>Game Reviews Done Quick</h1>
<div class="container">
    <section class="item" th:each="category:${categories}">
        <h2><a th:href="'/categories/'+${category.name}" th:text="${category.name}">Video Games</a></h2>
        <ul class="home-games">
            <li class="game-brief" th:each="game:${category.games}">
                <h4  th:text="${game.name}"></h4>
                <a th:href="'/games/'+${game.name}"><img class="image50" lt="${game.name}" th:src="${game.imageUrl}"></a>
                <p th:text="${game.description}">
                </p>

            </li>
        </ul>
    </section>
</div>

<div class="hastags-container">
    <section class="hashitem">
        <h2><a href="/hashtags/">Search Games By Tag</a></h2>

    </section>
</div>

<article>Enter your own game review below!</article>
<br>

<div class="add-game">
    <form action="/games/add" method="POST">
        <label for="name">Name: </label><br>
        <input type="text" id="name" name="name"><br>

        <label for="origin">Publisher: </label><br>
        <input type="text" id="origin" name="origin"><br>

        <label for="releaseYear">Release Year: </label><br>
        <input type="text" id="releaseYear" name="releaseYear"><br>

        <label for="description">Description: </label><br>
        <input type="text" id="description" name="description"><br>

        <label for="reviewerRating">Rating (Out of 10): </label><br>
        <input type="text" id="reviewerRating" name="reviewerRating"><br>

        <label for="categoryName">Choose a category:</label><br>
        <select name="categoryName" id="categoryName">
            <option value="Video Games">Video Game</option>
            <option value="Board Games">Board Game</option>
        </select>

        <br>

        <label for="similarGames">Similar Games: </label><br>
        <input type="text" id="similarGames" name="similarGames"><br>

        <label for="imageUrl">Image URL: </label><br>
        <input type="text" id="imageUrl" name="imageUrl"><br>

        <label for="reviewBy">Review By: </label><br>
        <input type="text" id="reviewBy" name="reviewBy"><br>

        <label for="review">Review: </label><br>
        <input type="text" id="review" name="review"><br>

        <input type="submit" value="Submit">
    </form>
</div>

</body>
</html>