<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Game Reviews Done Quick</title>
    <link rel="stylesheet" href="/CSS/Style.css">
    <link rel="stylesheet" href="/CSS/layout.css">
</head>
<body class= "body">
    <div th:replace="fragments.html :: nav"></div>
    <h2>Hashtags</h2>
    <div class="container">
        <section class="hashtag-container">
            <li class="hashtag-item" th:each="hashtag:${hashtags}">
                <h2 th:text="${hashtag.name}"></h2>
                <a th:href="'/hashtags/'+${hashtag.name}"> <img th:src="${hashtag.imageUrl}" lt="${hashtag.name}" class="image50"></a>
                <article th:text="${hashtag.description}"></article>
            </li>
        </section>
    </div>
<body>