<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Game Reviews Done Quick</title>
    <link rel="stylesheet" href="/CSS/Style.css">
    <link rel="stylesheet" href="/CSS/layout.css">
</head>

<body class= "body">
<h1>Game Reviews Done Quick</h1>
<div class="container">
    <section class="item" th:each="category:${categories}">
        <h2><a href="'/categories/'+${category.id}" th:text="${category.name}">Video Games</a></h2>
        <ul>
            <li th:each="game:${category.games}" th:text="${game.name}">

                <img class="image50" th:alt="${game.name}" th:src="${game.imageUrl}">
                <p th:text="${game.description}">Jeffy Bezos went crazy with this one. In the time he found when he wasn't trying to go to outer space,
                    he made a great MMO. Wow. You can chop down trees to gain experience
                </p>

            </li>
        </ul>
    </section>
    <!--        <section class="item">-->
    <!--            <h2 src="/static/SquadLeader.html"> <a href="/static/TableTopGames.html">Tabletop Games</h2></a>-->
    <!--                <li class="squad-leader"><a href="./../static/SquadLeader.html"> Squad Leader </a></li>-->
    <!--                <img class="image50" src="/images/squadleader.jpg" alt="Squad Leader" th:src="@{'/images/' + ${SquadLeader.jpg}">-->
    <!--                <article>This game is mainly played by old men who want to be actual WW2 heroes. Hours upon hours are spent reading-->
    <!--                    the rule book to see what happens if there is a tank in front of the units you want to fire at, as well as-->
    <!--                    hours upon hours of seeing if the target you are acquiring is actually in line of sight.-->
    <!--                </article>-->
    <!--        </section>        -->
</div>

<container class="hastags-container">
    <section class="hashitem">
        <h2><a href="./../static/Hashtags.html">Search Games By Tag</a></h2>

    </section>
</container>

</body>
</html>